:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animate__animated.animate__delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-delay: calc(var(--animate-delay)*3);
	animation-delay: calc(var(--animate-delay)*3)
}

@-webkit-keyframes pulse {
	10% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	25% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes pulse {
	10% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	25% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.animate__pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

@-webkit-keyframes hinge {
	0% {
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}
	20%,
	60% {
		-webkit-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}
	40%,
	80% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1
	}
	to {
		-webkit-transform: translate3d(0, 700px, 0);
		transform: translate3d(0, 700px, 0);
		opacity: 0
	}
}

@keyframes hinge {
	0% {
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}
	20%,
	60% {
		-webkit-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}
	40%,
	80% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1
	}
	to {
		-webkit-transform: translate3d(0, 700px, 0);
		transform: translate3d(0, 700px, 0);
		opacity: 0
	}
}

.animate__hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-duration: calc(var(--animate-duration)*2);
	animation-duration: calc(var(--animate-duration)*2);
	-webkit-animation-name: hinge;
	animation-name: hinge;
	-webkit-transform-origin: top left;
	transform-origin: top left
}

a {
	text-decoration: none;
}

body {
    overflow-x: hidden;
}

.header {
	position: sticky;
	position: -webkit-sticky;
	background: #333333ee;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}

.header-spacer {
	width: 100%;
}

@media screen and (min-width: 992px) {
	.menu {
		display: none;
	}
	.desktop {
		display: block;
		margin: 10px;
	}
}

.logo {
    min-width: 120px;
    max-width: 208px;
    width: 100%;
}

.header span {
    color: var(--neutral);
    margin-right: 5px;
}

@media screen and (min-width: 992px) {
    .header span:hover {
        color: var(--primary);
    }
}

#splash {
	height: 633px;
	background: url('../images/splash.webp');
	background-position-x: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
    position: relative;
    top: -60px;
	color: #f2f2f2;
	top: -58px;
	width: 100%;
}

#headline {
	display: flex;
	animation-fill-mode: backwards;
	text-align: right;
	margin-right: 10px;
}

#headline h1 {
    text-shadow: 2px 2px 3px var(--secondary);
}



#splash-text {
	width: 50vw;
}

a.splash-button {
	width: 150px;
    margin-right: 15vw;
    -webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.close {
    width: 100%;
    display: flex;
    justify-content:  flex-end;
    padding: 10px;
    font-size: 2em;
    color: var(--on-secondary);
    background: var(--secondary);
}
.popup {
    margin-top: 10vh;
	color: var(--on-secondary);
	background-color: var(--secondary);
}

.popup a {
    margin: 20px;
}

.popup a,
.popup a:visited {
    color: var(--neutral);
}

.popup a:active {
    color: var(--primary);
}

.flex40 {
	width: 50%;
	flex-basis: 40%;
}



.short {
	width: 100px;
	border: 2px solid var(--primary);
    margin: 30px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
	.row {
		flex-wrap: nowrap;
	}
}

.ohnohoney {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

form .button {
    float: right;
}

.section-title {
	white-space: nowrap;
	flex-wrap: nowrap;
	padding-top: 40px;
	padding-bottom: 40px;
    padding-left: 15px;
}

.medium {
	margin-left: 15px;
	margin-right: 15px;
	width: 100%;
	border: 2px solid #333;
	box-shadow: 2px 2px 3px #666666;
}

.wot-container {
	display: flex;
	flex-direction: column;
	width: 75vw;
	margin: auto;
}

.site-footer {
  background-color:#222;
  color:#f2f2f2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.site-footer div {
    min-width: 360px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .footer-links li {
        margin: 5px;
    }

.footer-links h6 {
    min-width: 110px;
}

.footer-links ul {
    list-style: none;
    min-width: 110px;
}

.site-footer a {
  color:#aaa;
  text-decoration: none;
}

.site-footer a:hover {
  color:#0f0;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}

div.social-icons {
    width: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.main {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    border-radius: 6px;
    background: var(--neutral-offset);
    border: 2px outset var(--neutral);
    box-shadow: 2px 2px 3px var(--secondary-light);   
}

.post {
    padding: 30px;
}

.post-header {
    display: flex;
}

.title {
    width: 70%;
    border-right: 1px solid var(--secondary-light);
    border-bottom: 1px solid var(--secondary-light);
    height: auto;
    padding: 30px;
}

.meta {
    border-bottom: 1px solid var(--secondary-light);
    width: 30%;
    height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.featured {
    margin-top: 30px;
    width: 100%;
}

.feature-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 3px var(--secondary-light);
}

.body-text a {
    color: var(--primary-dark);
    text-decoration: underline;
}

@media screen and (min-width: 992px) {
    .body-text a:hover {
        color: var(--primary);
    }
}

.icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    text-align: right;
}

.summary {
    flex-direction: column;
    height: auto;
    border: 1px solid var(--secondary-light);
    margin: 1%;
    width: 98%;
    border-radius: 6px;
}

.summary h4 {
    margin: 3%;
}

.summary-byline {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.summary-date {
    text-align: right;
    padding-right: 20px;
    border-right: 2px solid var(--secondary-light);
}

.blog-author {
    border-radius: 50%;
}

.summary-author {
    display: flex;
    align-items: center;
}

.summary-author .blog-author {
    margin-left: 5%;
    margin-right: 5%;
}

.summary-image {
    border-radius: 6px;
    width: 70%;
}

.summary p {
    width: 75%;
    margin: 3%;
}

.summary .button {
    border: 1px solid var(--secondary-light);
    align-self: flex-end;
    margin-right: 3%;
}
.crack {
    position: absolute;
    top: 70px;
    left: -150px;
    display: none;
}

.nav-menu {
    height: 118vh;
    overflow-y: hidden;
    background: var(--secondary);
}

.sitemap-header {
    margin: 20px;
    margin-bottom: 40px;
}

.sitemap-root {
    margin: 20px;
    list-style: none;
}

.sitemap-root a {
    text-decoration: none;
    border: 1px outset var(--neutral-offset);
    border-bottom: 4px outset var(--secondary-light);
    border-right: 1px outset var(--secondary-light);
    border-radius: 6px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .3em;
    background: #000;
    color: var(--neutral);
    position: relative;
}

.sitemap-root a:hover {
    color: var(--primary);
}

.sitemap-root a:before {
    content: attr(href);
    font-size: .7rem;
    white-space: nowrap;
    color: var(--neutral-offset);
}

.sitemap-root a:after {
    content: "";
    position: absolute;
    height: 40px;
    width: 20px;
    border-left: 2px solid var(--secondary-light);
    border-bottom: 2px solid var(--secondary-light);
    top: 50px;
    left: 6px;
}

.sitemap-main {
    margin: 20px;
    list-style: none;
}

.sitemap-main a {
    background: var(--secondary);
    color: var(--neutral);
}

.sitemap-main a:before {
    content: attr(href);
    font-size: .7rem;
    white-space: nowrap;

}

.sitemap-main a:after {
    content: "";
    position: absolute;
    height: 40px;
    width: 20px;
    border-left: 2px solid var(--secondary-light);
    border-bottom: 2px solid var(--secondary-light);
    top: 50px;
    left: 6px;
}

.sitemap-main li:last-child a:after {
    display: none;
}

.sitemap-main li:last-child {
    position: relative;
}

.sitemap-main li:last-child:before {
    content: "";
    position: absolute;
    height: 60px;
    border-left: 2px solid var(--secondary-light);
    top: -65px;
    left: 7px;
}

.sitemap-main li li:before {
    display: none;
}

.sitemap-main ul {
    margin: 20px;
    list-style: none;
}

.sitemap-main ul a {
    background: var(--secondary-light);
    color: var(--secondary);
    border: 1px outset var(--neutral-offset);
    border-bottom: 4px outset var(--secondary-light);
    border-right: 1px outset var(--secondary-light);
}

.main ul a:before {
    color: var(--neutral-offset);
}

.sitemap-aux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    list-style: none;
    position: relative;
}

.sitemap-aux:before {
    content: "";
    position: absolute;
    height: 200px;
    border-left: 2px solid var(--secondary-light);
    top: -200px;
    left: 17px;
}

.sitemap-aux a {
    text-decoration: none;
    border: 1px outset var(--neutral-offset);
    border-bottom: 4px outset var(--secondary-light);
    border-right: 1px outset var(--secondary-light);
    border-radius: 6px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .3em;
    background: var(--neutral-offset);
    margin: 10px;
    color: var(--secondary);
}

.sitemap-aux a:hover {
    color: var(--primary-dark);
}

.sitemap-aux a:before {
    content: attr(href);
    font-size: .7rem;
    white-space: nowrap;
    color: var(--secondary-light);
}
